<h2>Digital Forensic, Security & Investigation</h2>
<div class="content_column">
	<div class="content_box blue_triangle_bg">
		<h3>Digital Forensics</h3>
		<p>We offer a wide range of digital forensics solutions. Using state of the art forensic programs we are able to do forensics on almost any device. We have years of experience conducting digital forensics examinations and testifying in a variety of different legal proceedings. Click below for more information.</p>
		<br/>
		<a href="#" class="btn blue_btn">Digital Forensics Services</a>
	</div>
	<div class="content_box purple_triangle_bg">
		<h3>Intelligence Data Analytics</h3>
		<p>We provide numerous solutions in the areas of Intelligence gathering, data analytics and data visaulization. Wether you're trying to track down a witness, build a complex data set or graphical presentation for court we can create customizable solutions based on the needs of your case.</p>
		<br/>
		<a href="#" class="btn blue_btn">Intelligence Data Analytics Services</a>
	</div>
</div>

<div class="content_column">
	<div class="content_box green_triangle_bg">
		<h3>Cyber Security</h3>
		<p>We offer a range of cyber security solutions to both private and government organizations. These services include network set up & support, incident response, network forensics as well as mitigation and disaster preparation and recovery. Click below for more information.</p>
		<br/>
		<a href="#" class="btn blue_btn">Syber Security Services</a>
	</div>
	<div class="content_box red_triangle_bg">
		<h3>Private Investigations</h3>
		<p>We provide a wide variety of investigative support to law firms and corporations regardless of the type and complexity of your case we can help. We have years of experience investigating a wide range of criminal and civil cases. Click below for more information.</p>
		<br/>
		<a href="#" class="btn blue_btn">Private Investigations Services</a>
	</div>
</div>

